<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string>header</string>
		<key>footer</key>
		<string>footer</string>
		<key>Items</key>
		<array>
			<dict>
				<key>title</key>
				<string>年龄</string>
				<key>subtitle</key>
				<string></string>
				<key>items</key>
				<string></string>
				<key>targetVc</key>
				<string>MeGeAge</string>
			</dict>
			<dict>
				<key>title</key>
				<string>贝叶斯定理灵敏度、特异性及概率</string>
				<key>subtitle</key>
				<string></string>
				<key>items</key>
				<string></string>
				<key>targetVc</key>
				<string>MeGeBye</string>
			</dict>
			<dict>
				<key>title</key>
				<string>体质指数和体表面积</string>
				<key>subtitle</key>
				<string></string>
				<key>items</key>
				<string></string>
				<key>targetVc</key>
				<string>MeGeTzz</string>
			</dict>
			<dict>
				<key>title</key>
				<string>小儿气管插管的管道规则</string>
				<key>Subtitle</key>
				<string></string>
				<key>items</key>
				<string></string>
				<key>targetVc</key>
				<string>MeGeXeq</string>
			</dict>
			<dict>
				<key>title</key>
				<string>链球菌咽炎的修正Centor评分</string>
				<key>Subtitle</key>
				<string></string>
				<key>items</key>
				<string></string>
				<key>targetVc</key>
				<string>MeGeLqj</string>
			</dict>
			<dict>
				<key>title</key>
				<string>比值比-概率</string>
				<key>Subtitle</key>
				<string></string>
				<key>items</key>
				<string></string>
				<key>targetVc</key>
				<string>MeGeBzb</string>
			</dict>
			<dict>
				<key>title</key>
				<string>似然比(LR)</string>
				<key>Subtitle</key>
				<string></string>
				<key>items</key>
				<string></string>
				<key>targetVc</key>
				<string>MeGeSrb</string>
			</dict>
			<dict>
				<key>title</key>
				<string>验后概率(Sn/Sp)</string>
				<key>Subtitle</key>
				<string></string>
				<key>items</key>
				<string></string>
				<key>targetVc</key>
				<string>MeGeYhg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>验后概率(LR)</string>
				<key>Subtitle</key>
				<string></string>
				<key>items</key>
				<string></string>
				<key>targetVc</key>
				<string>MeGeByeYhgLR</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
