
			
				<string>低蛋白白血症患者钙浓度校正
<string>房颤患者卒中预防风险CHA₂DS₂-VASc
MeGeBye<string>心房纤颤者卒中风险CHADS₂评分
MeGeTzz<string>校正QT期间
MeGeXeq<string>Framingham心脏风险评分
<string>Framingham心脏风险评分（国际单位）
MeGeBzb<string>HAS-BLED出血风险评分
MeGeSrb<string>低密度脂蛋白计算
MeGeYhg<string>Light标准诊断渗出液
MeGeByeYhgLR<string>平均动脉压
MeGeYhg<string>肺栓塞的PERC判定原则
MeGeByeYhgLR<string>旧金山晕厥严重预后预测评分
MeGeYhg<string>TIMI风险指数
MeGeByeYhgLR<string>ST段抬高心肌梗塞的TIMI危险评分
MeGeYhg<string>深静脉血栓Well评分
MeGeByeYhgLR<string>肺栓塞Well评分
MeGeYhg<string>Killip分级
MeGeByeYhgLR<string>NYHA心动能分级
MeGeYhg<string>心绞痛分级（CCS）
MeGeByeYhgLR<string>心率（EKG）
MeGeYhg<string>心脏瓣膜面积（Gorlin）
MeGeByeYhgLR<string>血管阻力
