<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string>header</string>
		<key>footer</key>
		<string>footer</string>
		<key>Items</key>
		<array>
			<dict>
				<key>title</key>
				<string>肺泡-动脉氧分压差</string>
				<key>subtitle</key>
				<string></string>
				<key>items</key>
				<string></string>
				<key>targetVc</key>
				<string>MeGeAge</string>
			</dict>
			<dict>
				<key>title</key>
				<string>低密度脂蛋白计算</string>
				<key>subtitle</key>
				<string></string>
				<key>items</key>
				<string></string>
				<key>targetVc</key>
				<string>MeGeBye</string>
			</dict>
			<dict>
				<key>title</key>
				<string>维持液体计算</string>
				<key>subtitle</key>
				<string></string>
				<key>items</key>
				<string></string>
				<key>targetVc</key>
				<string>MeGeTzz</string>
			</dict>
			<dict>
				<key>title</key>
				<string>MDRD肌酐清除率计算公式</string>
				<key>Subtitle</key>
				<string></string>
				<key>items</key>
				<string></string>
				<key>targetVc</key>
				<string>MeGeXeq</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Framingham心脏风险评分</string>
				<key>Subtitle</key>
				<string></string>
				<key>items</key>
				<string></string>
				<key>targetVc</key>
				<string>MeGeLqj</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Framingham心脏风险评分（国际单位）</string>
				<key>Subtitle</key>
				<string></string>
				<key>items</key>
				<string></string>
				<key>targetVc</key>
				<string>MeGeBzb</string>
			</dict>
			<dict>
				<key>title</key>
				<string>HAS-BLED出血风险评分</string>
				<key>Subtitle</key>
				<string></string>
				<key>items</key>
				<string></string>
				<key>targetVc</key>
				<string>MeGeSrb</string>
			</dict>
			<dict>
				<key>title</key>
				<string>低密度脂蛋白计算</string>
				<key>Subtitle</key>
				<string></string>
				<key>items</key>
				<string></string>
				<key>targetVc</key>
				<string>MeGeYhg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Light标准诊断渗出液</string>
				<key>Subtitle</key>
				<string></string>
				<key>items</key>
				<string></string>
				<key>targetVc</key>
				<string>MeGeByeYhgLR</string>
			</dict>
			<dict>
				<key>title</key>
				<string>平均动脉压</string>
				<key>Subtitle</key>
				<string></string>
				<key>items</key>
				<string></string>
				<key>targetVc</key>
				<string>MeGeYhg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>肺栓塞的PERC判定原则</string>
				<key>Subtitle</key>
				<string></string>
				<key>items</key>
				<string></string>
				<key>targetVc</key>
				<string>MeGeByeYhgLR</string>
			</dict>
			<dict>
				<key>title</key>
				<string>旧金山晕厥严重预后预测评分</string>
				<key>Subtitle</key>
				<string></string>
				<key>items</key>
				<string></string>
				<key>targetVc</key>
				<string>MeGeYhg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>TIMI风险指数</string>
				<key>Subtitle</key>
				<string></string>
				<key>items</key>
				<string></string>
				<key>targetVc</key>
				<string>MeGeByeYhgLR</string>
			</dict>
			<dict>
				<key>title</key>
				<string>ST段抬高心肌梗塞的TIMI危险评分</string>
				<key>Subtitle</key>
				<string></string>
				<key>items</key>
				<string></string>
				<key>targetVc</key>
				<string>MeGeYhg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>深静脉血栓Well评分</string>
				<key>Subtitle</key>
				<string></string>
				<key>items</key>
				<string></string>
				<key>targetVc</key>
				<string>MeGeByeYhgLR</string>
			</dict>
			<dict>
				<key>title</key>
				<string>肺栓塞Well评分</string>
				<key>Subtitle</key>
				<string></string>
				<key>items</key>
				<string></string>
				<key>targetVc</key>
				<string>MeGeYhg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Killip分级</string>
				<key>Subtitle</key>
				<string></string>
				<key>items</key>
				<string></string>
				<key>targetVc</key>
				<string>MeGeByeYhgLR</string>
			</dict>
			<dict>
				<key>title</key>
				<string>NYHA心动能分级</string>
				<key>Subtitle</key>
				<string></string>
				<key>items</key>
				<string></string>
				<key>targetVc</key>
				<string>MeGeYhg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>心绞痛分级（CCS）</string>
				<key>Subtitle</key>
				<string></string>
				<key>items</key>
				<string></string>
				<key>targetVc</key>
				<string>MeGeByeYhgLR</string>
			</dict>
			<dict>
				<key>title</key>
				<string>心率（EKG）</string>
				<key>Subtitle</key>
				<string></string>
				<key>items</key>
				<string></string>
				<key>targetVc</key>
				<string>MeGeYhg</string>
			</dict>
			<dict>
				<key>title</key>
				<string>心脏瓣膜面积（Gorlin）</string>
				<key>Subtitle</key>
				<string></string>
				<key>items</key>
				<string></string>
				<key>targetVc</key>
				<string>MeGeByeYhgLR</string>
			</dict>
			<dict>
				<key>title</key>
				<string>血管阻力</string>
				<key>Subtitle</key>
				<string></string>
				<key>items</key>
				<string></string>
				<key>targetVc</key>
				<string>MeGeYhg</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
