<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>groupTitle</key>
		<string>患者体征</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>睁眼反应</string>
				<key>subtitle</key>
				<string></string>
				<key>items</key>
				<array>
					<dict>
						<key>score</key>
						<string>4</string>
						<key>state</key>
						<string>自动睁眼</string>
					</dict>
					<dict>
						<key>score</key>
						<string>3</string>
						<key>state</key>
						<string>呼唤睁眼</string>
					</dict>
					<dict>
						<key>score</key>
						<string>2</string>
						<key>state</key>
						<string>刺痛睁眼</string>
					</dict>
					<dict>
						<key>score</key>
						<string>1</string>
						<key>state</key>
						<string>无反应</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>subtitle</key>
				<string></string>
				<key>title</key>
				<string>语言反应</string>
				<key>items</key>
				<array>
					<dict>
						<key>score</key>
						<string>5</string>
						<key>state</key>
						<string>回答正确</string>
					</dict>
					<dict>
						<key>score</key>
						<string>4</string>
						<key>state</key>
						<string>回答混乱</string>
					</dict>
					<dict>
						<key>score</key>
						<string>3</string>
						<key>state</key>
						<string>答非所问</string>
					</dict>
					<dict>
						<key>score</key>
						<string>2</string>
						<key>state</key>
						<string>含糊不清的声音</string>
					</dict>
					<dict>
						<key>score</key>
						<string>1</string>
						<key>state</key>
						<string>无反应</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>subtitle</key>
				<string></string>
				<key>title</key>
				<string>运动反应</string>
				<key>items</key>
				<array>
					<dict>
						<key>score</key>
						<string>6</string>
						<key>state</key>
						<string>正确执行指令</string>
					</dict>
					<dict>
						<key>score</key>
						<string>5</string>
						<key>state</key>
						<string>对刺激定位</string>
					</dict>
					<dict>
						<key>score</key>
						<string>4</string>
						<key>state</key>
						<string>逃避刺激</string>
					</dict>
					<dict>
						<key>score</key>
						<string>3</string>
						<key>state</key>
						<string>刺痛屈曲（去皮层强直）</string>
					</dict>
					<dict>
						<key>score</key>
						<string>2</string>
						<key>state</key>
						<string>刺痛伸展（去大脑强直）</string>
					</dict>
					<dict>
						<key>score</key>
						<string>1</string>
						<key>state</key>
						<string>无反应</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>groupTitle</key>
		<string>评分结果</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>格拉斯哥昏迷评分</string>
				<key>items</key>
				<array>
					<dict>
						<key>result</key>
						<string>轻度意识障碍</string>
						<key>score</key>
						<string>8</string>
					</dict>
					<dict>
						<key>result</key>
						<string>中度意识障碍</string>
						<key>score</key>
						<string>12</string>
					</dict>
					<dict>
						<key>result</key>
						<string>重度意识障碍</string>
						<key>score</key>
						<string>14</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
