<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>心脏病学</string>
		<key>subtitle</key>
		<string>Cardiology</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>年龄</string>
				<key>subtitle</key>
				<string>age</string>
				<key>items</key>
				<array/>
			</dict>
			<dict>
				<key>title</key>
				<string>年龄</string>
				<key>subtitle</key>
				<string>age</string>
				<key>items</key>
				<array/>
			</dict>
			<dict>
				<key>title</key>
				<string>年龄</string>
				<key>subtitle</key>
				<string>age</string>
				<key>items</key>
				<array/>
			</dict>
			<dict>
				<key>title</key>
				<string>年龄</string>
				<key>subtitle</key>
				<string>age</string>
				<key>items</key>
				<array/>
			</dict>
			<dict>
				<key>title</key>
				<string>年龄</string>
				<key>subtitle</key>
				<string>age</string>
				<key>items</key>
				<array/>
			</dict>
			<dict>
				<key>title</key>
				<string>年龄</string>
				<key>subtitle</key>
				<string>age</string>
				<key>items</key>
				<array/>
			</dict>
			<dict>
				<key>title</key>
				<string>年龄</string>
				<key>subtitle</key>
				<string>age</string>
				<key>items</key>
				<array/>
			</dict>
			<dict>
				<key>title</key>
				<string>年龄</string>
				<key>subtitle</key>
				<string>age</string>
				<key>items</key>
				<array/>
			</dict>
			<dict>
				<key>title</key>
				<string></string>
				<key>subtitle</key>
				<string></string>
				<key>items</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>危重病人医疗</string>
		<key>subtitle</key>
		<string>Critical Care</string>
		<key>items</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
			<dict>
				<key>New item - 2</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>内分泌</string>
		<key>subtitle</key>
		<string>Endocrinology</string>
		<key>items</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
			<dict>
				<key>New item - 2</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>胃肠病学</string>
		<key>subtitle</key>
		<string>Gastroenterology</string>
		<key>items</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
			<dict>
				<key>New item - 2</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>血液病学/肿瘤学</string>
		<key>subtitle</key>
		<string>Hematology/Oncology</string>
		<key>items</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
			<dict>
				<key>New item - 2</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>肝脏病学</string>
		<key>subtitle</key>
		<string>Hepatology</string>
		<key>items</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
			<dict>
				<key>New item - 2</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>传染病学</string>
		<key>subtitle</key>
		<string>infectious disease</string>
		<key>items</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
			<dict>
				<key>New item - 2</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>肾脏病学</string>
		<key>subtitle</key>
		<string>Nephrology</string>
		<key>items</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
			<dict>
				<key>New item - 2</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>神经病学</string>
		<key>subtitle</key>
		<string>neurology</string>
		<key>items</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
			<dict>
				<key>New item - 2</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>妇产科</string>
		<key>subtitle</key>
		<string>OB-Gyn</string>
		<key>items</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
			<dict>
				<key>New item - 2</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>矫形外科学</string>
		<key>subtitle</key>
		<string>orthopedics</string>
		<key>items</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
			<dict>
				<key>New item - 2</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>儿科学</string>
		<key>subtitle</key>
		<string>Pedatrics</string>
		<key>items</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
			<dict>
				<key>New item - 2</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>肺病学</string>
		<key>subtitle</key>
		<string>pulmonology</string>
		<key>items</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
			<dict>
				<key>New item - 2</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>外科学</string>
		<key>subtitle</key>
		<string>surgery</string>
		<key>items</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
			<dict>
				<key>New item - 2</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>毒理学</string>
		<key>subtitle</key>
		<string>toxicology</string>
		<key>items</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
			<dict>
				<key>New item - 2</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>创伤外科</string>
		<key>subtitle</key>
		<string>Trauma</string>
		<key>items</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
			<dict>
				<key>New item - 2</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>麻醉学</string>
		<key>subtitle</key>
		<string>Anesthesiology</string>
		<key>items</key>
		<array>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
			<dict>
				<key>New item</key>
				<string></string>
				<key>New item - 2</key>
				<string></string>
			</dict>
			<dict>
				<key>New item - 2</key>
				<string></string>
				<key>New item</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
