<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string>header</string>
		<key>footer</key>
		<string>footer</string>
		<key>Items</key>
		<array>
            <dict>
                <key>title</key>
                <string>格拉斯哥(GCS)昏迷评分标准</string>
                <key>subtitle</key>
                <string></string>
                <key>items</key>
                <string></string>
                <key>targetVc</key>
                <string>MeGeAge</string>
            </dict>
            <dict>
                <key>title</key>
                <string>昏迷程度分级</string>
                <key>subtitle</key>
                <string></string>
                <key>items</key>
                <string></string>
                <key>targetVc</key>
                <string>MeGeAge</string>
            </dict>
            <dict>
                <key>title</key>
                <string>肌力分级标准（6级法）</string>
                <key>subtitle</key>
                <string></string>
                <key>items</key>
                <string></string>
                <key>targetVc</key>
                <string>MeGeAge</string>
            </dict>
            <dict>
                <key>title</key>
                <string>肌张力评定分级</string>
                <key>subtitle</key>
                <string></string>
                <key>items</key>
                <string></string>
                <key>targetVc</key>
                <string>MeGeAge</string>
            </dict>
            <dict>
                <key>title</key>
                <string>检测血压（BP）与中心静脉压（CVP）的意义</string>
                <key>Subtitle</key>
                <string></string>
                <key>items</key>
                <string></string>
                <key>targetVc</key>
                <string>MeGeAge</string>
            </dict>
            <dict>
                <key>title</key>
                <string>不同酸碱失衡类型的血气改变</string>
                <key>Subtitle</key>
                <string></string>
                <key>items</key>
                <string></string>
                <key>targetVc</key>
                <string>MeGeAge</string>
            </dict>
            <dict>
                <key>title</key>
                <string>估计急性失血的4项指标</string>
                <key>Subtitle</key>
                <string></string>
                <key>items</key>
                <string></string>
                <key>targetVc</key>
                <string>MeGeAge</string>
            </dict>
            <dict>
                <key>title</key>
                <string>血压水平的定义和分类（WHO/ISH,1999年）</string>
                <key>Subtitle</key>
                <string></string>
                <key>items</key>
                <string></string>
                <key>targetVc</key>
                <string>MeGeAge</string>
            </dict>
            <dict>
                <key>title</key>
                <string>心功能不全分级</string>
                <key>Subtitle</key>
                <string></string>
                <key>items</key>
                <string></string>
                <key>targetVc</key>
                <string>MeGeAge</string>
            </dict>
            <dict>
                <key>title</key>
                <string>水肿分度</string>
                <key>Subtitle</key>
                <string></string>
                <key>items</key>
                <string></string>
                <key>targetVc</key>
                <string>MeGeAge</string>
            </dict>
            <dict>
                <key>title</key>
                <string>上肢淋巴水肿分度</string>
                <key>Subtitle</key>
                <string></string>
                <key>items</key>
                <string></string>
                <key>targetVc</key>
                <string>MeGeAge</string>
            </dict>
            <dict>
                <key>title</key>
                <string>卡氏评分（KPS）</string>
                <key>Subtitle</key>
                <string></string>
                <key>items</key>
                <string></string>
                <key>targetVc</key>
                <string>MeGeAge</string>
            </dict>
            <dict>
                <key>title</key>
                <string>日常生活活动能力评分表（ADL）</string>
                <key>Subtitle</key>
                <string></string>
                <key>items</key>
                <string></string>
                <key>targetVc</key>
                <string>MeGeAge</string>
            </dict>
            <dict>
                <key>title</key>
                <string>疼痛数字评分表（NRS）</string>
                <key>Subtitle</key>
                <string></string>
                <key>items</key>
                <string></string>
                <key>targetVc</key>
                <string>MeGeAge</string>
            </dict>
            <dict>
                <key>title</key>
                <string>面部表情分级评分法</string>
                <key>Subtitle</key>
                <string></string>
                <key>items</key>
                <string></string>
                <key>targetVc</key>
                <string>MeGeAge</string>
            </dict>
            <dict>
                <key>title</key>
                <string>坠床/跌倒危险因素评分</string>
                <key>Subtitle</key>
                <string></string>
                <key>items</key>
                <string></string>
                <key>targetVc</key>
                <string>MeGeAge</string>
            </dict>
            <dict>
                <key>title</key>
                <string>压疮危险因素评分表</string>
                <key>Subtitle</key>
                <string></string>
                <key>items</key>
                <string></string>
                <key>targetVc</key>
                <string>MeGeAge</string>
            </dict>
            <dict>
                <key>title</key>
                <string>压疮的分期及表现2007NPUAP压疮新分期</string>
                <key>Subtitle</key>
                <string></string>
                <key>items</key>
                <string></string>
                <key>targetVc</key>
                <string>MeGeAge</string>
            </dict>
            <dict>
                <key>title</key>
                <string>静脉炎分级标准</string>
                <key>Subtitle</key>
                <string>美国静脉输液护理学会INS2000版</string>
                <key>items</key>
                <string></string>
                <key>targetVc</key>
                <string>MeGeAge</string>
            </dict>
            <dict>
                <key>title</key>
                <string>药液渗出临床表现与分级</string>
                <key>Subtitle</key>
                <string></string>
                <key>items</key>
                <string></string>
                <key>targetVc</key>
                <string>MeGeAge</string>
            </dict>
            <dict>
                <key>title</key>
                <string>乙肝三系五项指标结果的意义</string>
                <key>Subtitle</key>
                <string></string>
                <key>items</key>
                <string></string>
                <key>targetVc</key>
                <string>MeGeAge</string>
            </dict>
            <dict>
                <key>title</key>
                <string>常见肿瘤标志物</string>
                <key>Subtitle</key>
                <string></string>
                <key>items</key>
                <string></string>
                <key>targetVc</key>
                <string>MeGeAge</string>
            </dict>
            <dict>
                <key>title</key>
                <string>深静脉血栓wells临床评分表</string>
                <key>Subtitle</key>
                <string></string>
                <key>items</key>
                <string></string>
                <key>targetVc</key>
                <string>MeGeAge</string>
            </dict>
            <dict>
                <key>title</key>
                <string>肺栓赛wells临床评表</string>
                <key>Subtitle</key>
                <string></string>
                <key>items</key>
                <string></string>
                <key>targetVc</key>
                <string>MeGeAge</string>
            </dict>
            <dict>
                <key>title</key>
                <string>抗癌药物急性及亚急性毒性反应分度标准</string>
                <key>Subtitle</key>
                <string></string>
                <key>items</key>
                <string></string>
                <key>targetVc</key>
                <string>MeGeAge</string>
            </dict>
            <dict>
                <key>title</key>
                <string>RTOG/EORTC急性放射反应评分标准</string>
                <key>Subtitle</key>
                <string></string>
                <key>items</key>
                <string></string>
                <key>targetVc</key>
                <string>MeGeAge</string>
            </dict>
            <dict>
                <key>title</key>
                <string>食物水分和热卡估算</string>
                <key>Subtitle</key>
                <string></string>
                <key>items</key>
                <string></string>
                <key>targetVc</key>
                <string>MeGeAge</string>
            </dict>
            <dict>
                <key>title</key>
                <string>常用微泵药物用量计算</string>
                <key>Subtitle</key>
                <string></string>
                <key>items</key>
                <string></string>
                <key>targetVc</key>
                <string>MeGeAge</string>
            </dict>
            <dict>
                <key>title</key>
                <string>补液公式计算</string>
                <key>Subtitle</key>
                <string></string>
                <key>items</key>
                <string></string>
                <key>targetVc</key>
                <string>MeGeAge</string>
            </dict>
            <dict>
                <key>title</key>
                <string>烧伤面积计算（新九分法）</string>
                <key>Subtitle</key>
                <string></string>
                <key>items</key>
                <string></string>
                <key>targetVc</key>
                <string>MeGeAge</string>
            </dict>
            <dict>
                <key>title</key>
                <string>烧伤深度（四度五分法）</string>
                <key>Subtitle</key>
                <string></string>
                <key>items</key>
                <string></string>
                <key>targetVc</key>
                <string>MeGeAge</string>
            </dict>
            <dict>
                <key>title</key>
                <string>二度、三度烧伤补液量</string>
                <key>Subtitle</key>
                <string></string>
                <key>items</key>
                <string></string>
                <key>targetVc</key>
                <string>MeGeAge</string>
            </dict>
            <dict>
                <key>title</key>
                <string>BD真空采血管操作指南</string>
                <key>Subtitle</key>
                <string></string>
                <key>items</key>
                <string></string>
                <key>targetVc</key>
                <string>MeGeAge</string>
            </dict>
		</array>
	</dict>
</array>
</plist>
